{{ define "main" }}
<div class="wrapper post">
    <main class="page-content" aria-label="Content">
        <article>
            <header class="header">
                <h1 class="header-title">{{ .Title }}</h1>
                {{- if not .Params.pages }}
                <div class="post-meta">
                    {{ with .Date }} {{ $ISO_time := dateFormat
                    "2006-01-02T15:04:05-07:00" . }}
                    <time datetime="{{ $ISO_time }}" itemprop="datePublished">
                        {{ . | time.Format "2006-01-02 15:04" }}
                    </time>
                    {{ end }}
                    <span id="busuanzi_container_page_pv">
                        本文总阅读量&nbsp;<span
                            id="busuanzi_value_page_pv"
                        ></span
                        >&nbsp;次
                    </span>
                    {{ if .Site.Params.page_view_counter }}
                    <span class="post-date"
                        >共&nbsp;{{ .WordCount }}&nbsp;字</span
                    >
                    阅读约<span class="more-meta">
                        {{ .ReadingTime }}&nbsp;分钟</span
                    >
                    {{ end }}
                </div>
                {{- end -}}
            </header>
            {{ partial "toc.html" .}}
            <div class="page-content">{{ .Content }}</div>
        </article>
        {{- partial "comments.html" . -}}
    </main>
</div>
{{ end }}
