{{ define "main" }}
<div class="wrapper post">
    <main class="page-content" aria-label="Content">
        <article>
            <header class="header">
                <h1 class="header-title">{{ .Title }}</h1>
                {{- if not .Params.pages }}
                <div class="post-meta">
                    {{ with .Date }} {{ $ISO_time := dateFormat
                    "2006-01-02T15:04:05-07:00" . }}
                    <time datetime="{{ $ISO_time }}" itemprop="datePublished">
                        {{ . | time.Format "2006/01/02" }}
                    </time>
                    {{ end }}
                    {{ if .Site.Params.page_view_counter }}
                    <span class="more-meta">
                      · {{ .ReadingTime }}分钟
                    </span>
                    {{ end }}
                </div>
                {{- end -}}
            </header>
            {{ partial "toc.html" .}}
            <div class="page-content">{{ .Content }}</div>
        </article>
        {{- partial "comments.html" . -}}
    </main>
</div>
{{ end }}
